# Installation

In [1]:
!pip install pandas
!pip install numpy
!pip install sqlalchemy
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (1.26.4)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.0.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\sealtiel dy\appdata\roaming\python\python312\site-packages (1.1.0)

Import libraries

In [8]:
import pandas as pd
import numpy as np
import sqlalchemy as db
import json

# Extract

Read CSV files

Load Progress

In [9]:
doctors = pd.read_parquet('cleaned/doctors.parquet')
clinics = pd.read_parquet('cleaned/clinics.parquet')
px = pd.DataFrame()
for i in range(8):
    temp = pd.read_parquet(f"cleaned/px_{i+1}.parquet")
    px = pd.concat([px,temp])
appointments = pd.read_parquet('cleaned/appointments.parquet')

In [10]:
del doctors['age']

In [11]:
merge_df = pd.merge(appointments, clinics, on = 'clinicid', how = 'inner')

In [12]:
merge_df = pd.merge(merge_df, doctors, on = 'doctorid', how = 'inner')

In [13]:
merge_df = pd.merge(merge_df, px, on = 'pxid', how = 'inner')

In [14]:
merge_df.rename(columns={'age': 'patientage'}, inplace=True)
merge_df.rename(columns={'gender': 'patientgender'}, inplace=True)

In [15]:
merge_df = merge_df.iloc[:,3:]

In [16]:
merge_df['status'].unique()

array(['Queued', 'Serving', 'NoShow', 'Complete', 'Cancel', 'Skip'],
      dtype=object)

In [17]:
merge_df.columns

Index(['apptid', 'status', 'TimeQueued', 'QueueDate', 'StartTime', 'EndTime',
       'type', 'Virtual', 'hospitalname', 'IsHospital', 'City', 'Province',
       'RegionName', 'mainspecialty', 'patientage', 'patientgender'],
      dtype='object')

In [18]:
luzon_df = merge_df[merge_df['RegionName'].isin(['National Capital Region (NCR)', 
                                                 'CALABARZON (IV-A)', 
                                                 'Ilocos Region (I)', 
                                                 'Bicol Region (V)', 
                                                 'Central Luzon (III)'])]

visayas_mindanao_df = merge_df[merge_df['RegionName'].isin(['Central Visayas (VII)', 
                                                            'SOCCSKSARGEN (Cotabato Region) (XII)', 
                                                            'Northern Mindanao (X)', 
                                                            'Eastern Visayas (VIII)', 
                                                            'Western Visayas (VI)'])]

In [19]:
merge_df.columns

Index(['apptid', 'status', 'TimeQueued', 'QueueDate', 'StartTime', 'EndTime',
       'type', 'Virtual', 'hospitalname', 'IsHospital', 'City', 'Province',
       'RegionName', 'mainspecialty', 'patientage', 'patientgender'],
      dtype='object')

In [20]:
np.sort(merge_df['type'].unique())

array(['Consultation', 'Inpatient'], dtype=object)

# Insert Data to MySQL DB

abstracted `connection.json`

In [74]:
connection = open('connection.json')
connection = json.load(connection)
host = connection['host']
user = connection['user']
password = connection['password']
port0 = connection['port0']
port1 = connection['port1']
port2 = connection['port2']

db_name0 = 'center'
engine0 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port0)

db_name1 = 'node_2'
engine1 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port1)

db_name2 = 'node_3'
engine2 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port2)

Define the schemas of CSV files

In [75]:
# appointments schema
appointments_schema = {
    "pxid":db.types.VARCHAR(32),
    "clinicid":db.types.VARCHAR(32),
    "doctorid":db.types.VARCHAR(32),
    "apptid":db.types.VARCHAR(32),
    "status":db.types.Enum("Queued", "Complete", "Serving","Cancel","NoShow","Skip"),
    "TimeQueued":db.types.DATETIME(),
    "QueueDate":db.types.DATE(),
    "StartTime":db.types.DATETIME(),
    "EndTime":db.types.DATETIME(),
    "type":db.types.Enum("Consultation","Inpatient"),
    "Virtual":db.types.BOOLEAN(),
    "hospitalname":db.types.VARCHAR(255),
    "IsHospital":db.types.BOOLEAN(),
    "City":db.types.VARCHAR(255),
    "Province":db.types.VARCHAR(255),
    "RegionName":db.types.VARCHAR(255),
    "mainspecialty":db.types.VARCHAR(255),
    "patientage":db.dialects.mysql.TINYINT(255),
    "patientgender":db.types.Enum("MALE", "FEMALE")
}

Insert the merge_df to central node

In [138]:
# central node
with engine0.connect() as conn:
    conn.execute(db.text("DROP DATABASE IF EXISTS `" + db_name0 + "`;"))
    conn.execute(db.text("CREATE DATABASE `" + db_name0 + "`;"))
engine0 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port0 + '/' + db_name0)

In [139]:
merge_df.to_sql('appointments', engine0, if_exists='replace', index=False, dtype=appointments_schema)

320140

In [140]:
with engine0.connect() as conn:
    conn.execute(db.text("""
        ALTER TABLE `""" + db_name0 + """`.`appointments` 
        CHANGE COLUMN `apptid` `apptid` VARCHAR(32) NOT NULL ,
        ADD PRIMARY KEY (`apptid`);
    """))
    print("apptid IS A PRIMARY KEY IN CENTRAL NODE")

apptid IS A PRIMARY KEY IN CENTRAL NODE

Insert the luzon_df to node 2

In [79]:
# node 2
with engine1.connect() as conn:
    conn.execute(db.text("DROP DATABASE IF EXISTS `" + db_name1 + "`;"))
    conn.execute(db.text("CREATE DATABASE `" + db_name1 + "`;"))
engine1 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port1 + '/' + db_name1)

In [80]:
luzon_df.to_sql('appointments', engine1, if_exists='replace', index=False, dtype=appointments_schema)

261600

In [81]:
with engine1.connect() as conn:
    conn.execute(db.text("""
        ALTER TABLE `""" + db_name1 + """`.`appointments` 
        CHANGE COLUMN `apptid` `apptid` VARCHAR(32) NOT NULL ,
        ADD PRIMARY KEY (`apptid`);
    """))
    print("apptid IS A PRIMARY KEY IN NODE 2")

apptid IS A PRIMARY KEY IN NODE 2

Insert the visayas_mindanao_df to node 3

In [82]:
# node 3
with engine2.connect() as conn:
    conn.execute(db.text("DROP DATABASE IF EXISTS `" + db_name2 + "`;"))
    conn.execute(db.text("CREATE DATABASE `" + db_name2 + "`;"))
engine2 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port2 + '/' + db_name2)

In [83]:
visayas_mindanao_df.to_sql('appointments', engine2, if_exists='replace', index=False, dtype=appointments_schema)

58540

In [84]:
with engine2.connect() as conn:
    conn.execute(db.text("""
        ALTER TABLE `""" + db_name2 + """`.`appointments` 
        CHANGE COLUMN `apptid` `apptid` VARCHAR(32) NOT NULL ,
        ADD PRIMARY KEY (`apptid`);
    """))
    print("apptid IS A PRIMARY KEY IN NODE 3")

apptid IS A PRIMARY KEY IN NODE 3

# Setup Logs in MySQL DB

## Variable Setup

In [172]:
connection = open('connection.json')
connection = json.load(connection)
host = connection['host']
user = connection['user']
password = connection['password']
port0 = connection['port0']
port1 = connection['port1']
port2 = connection['port2']

db_name0 = 'center'
engine0 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port0 + '/' + db_name0)

db_name1 = 'node_2'
engine1 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port1 + '/' + db_name1)

db_name2 = 'node_3'
engine2 = db.create_engine('mysql+pymysql://' + user + ':' + password + '@' + host + ':' + port2 + '/' + db_name2)

# LOGS TABLE
drop_logs = db.text("DROP TABLE IF EXISTS logs;")

create_logs = db.text("""
    CREATE TABLE logs (
        `id` INT AUTO_INCREMENT PRIMARY KEY,
        `action_time` TIMESTAMP NOT NULL,
        `action` varchar(255),
        `node` enum('node_2', 'node_3'),
        `apptid` varchar(32) NOT NULL,
        `status` enum('Queued','Complete','Serving','Cancel','NoShow','Skip') DEFAULT NULL,
        `TimeQueued` datetime DEFAULT NULL,
        `QueueDate` date DEFAULT NULL,
        `StartTime` datetime DEFAULT NULL,
        `EndTime` datetime DEFAULT NULL,
        `type` enum('Consultation','Inpatient') DEFAULT NULL,
        `Virtual` tinyint(1) DEFAULT NULL,
        `hospitalname` varchar(255) DEFAULT NULL,
        `IsHospital` tinyint(1) DEFAULT NULL,
        `City` varchar(255) DEFAULT NULL,
        `Province` varchar(255) DEFAULT NULL,
        `RegionName` varchar(255) DEFAULT NULL,
        `mainspecialty` varchar(255) DEFAULT NULL,
        `patientage` tinyint DEFAULT NULL,
        `patientgender` enum('MALE','FEMALE') DEFAULT NULL
    );
""")

# TRIGGERS
def drop_triggers(db_name,q):
    return db.text(f"DROP TRIGGER IF EXISTS {db_name}.{q.lower()}_data;")

def create_triggers(q):
    if q.upper() == 'DELETE':
        old_new = 'OLD'
    else:
        old_new = 'NEW'
        
    values = f"""VALUES(NOW(), '{q.upper()}', node_get, {old_new}.apptid, {old_new}.status, {old_new}.TimeQueued, {old_new}.QueueDate, 
        {old_new}.StartTime, {old_new}.EndTime, {old_new}.type, {old_new}.Virtual, {old_new}.hospitalname, {old_new}.IsHospital, {old_new}.City, 
        {old_new}.Province, {old_new}.RegionName, {old_new}.mainspecialty, {old_new}.patientage, {old_new}.patientgender)"""
    print(f"""
            CREATE TRIGGER {q.lower()}_data AFTER {q.upper()} ON appointments
            FOR EACH ROW
            BEGIN
                DECLARE node_get VARCHAR(255);
                SET node_get = (SELECT CASE 
                    WHEN NEW.RegionName = 'Western Visayas (VI)'
                    OR NEW.RegionName = 'Central Visayas (VII)'
                    OR NEW.RegionName = 'Eastern Visayas (VIII)'
                    OR NEW.RegionName = 'Northern Mindanao (X)'
                    OR NEW.RegionName = 'SOCCSKSARGEN (XII)'
                    THEN 'node_3'
                    ELSE 'node_2'
                END);
                INSERT INTO logs (`action_time`, `action`, `node`, `apptid`, `status`, `TimeQueued`, `QueueDate`, `StartTime`, `EndTime`, `type`, `Virtual`, `hospitalname`, `IsHospital`, `City`, `Province`, `RegionName`, `mainspecialty`, `patientage`, `patientgender`)
                {values};
            END;
        """)
    return db.text(f"""
            CREATE TRIGGER {q.lower()}_data AFTER {q.upper()} ON appointments
            FOR EACH ROW
            BEGIN
                DECLARE node_get VARCHAR(255);
                SET node_get = (SELECT CASE 
                    WHEN NEW.RegionName = 'Western Visayas (VI)'
                    OR NEW.RegionName = 'Central Visayas (VII)'
                    OR NEW.RegionName = 'Eastern Visayas (VIII)'
                    OR NEW.RegionName = 'Northern Mindanao (X)'
                    OR NEW.RegionName = 'SOCCSKSARGEN (XII)'
                    THEN 'node_3'
                    ELSE 'node_2'
                END);
                INSERT INTO logs (`action_time`, `action`, `node`, `apptid`, `status`, `TimeQueued`, `QueueDate`, `StartTime`, `EndTime`, `type`, `Virtual`, `hospitalname`, `IsHospital`, `City`, `Province`, `RegionName`, `mainspecialty`, `patientage`, `patientgender`)
                {values};
            END;
        """)

## Create Logs Table

### Central Node

In [173]:
with engine0.connect() as conn:
    conn.execute(drop_logs)
    conn.execute(create_logs)
    print("logs TABLE CREATED IN Central NODE")

logs TABLE CREATED IN Central NODE

### Luzon Node

In [165]:
with engine1.connect() as conn:
    conn.execute(drop_logs)
    conn.execute(create_logs)
    print("logs TABLE CREATED IN Luzon NODE")

logs TABLE CREATED IN Luzon NODE

### VisMin Node

In [166]:
with engine2.connect() as conn:
    conn.execute(drop_logs)
    conn.execute(create_logs)
    print("logs TABLE CREATED IN VisMin NODE")

logs TABLE CREATED IN VisMin NODE

## Triggers

### Central Node

In [175]:
with engine0.connect() as conn:
    conn.execute(drop_triggers('center', 'insert'))
    conn.execute(drop_triggers('center', 'update'))
    conn.execute(drop_triggers('center', 'delete'))
    conn.execute(create_triggers('insert'))
    conn.execute(create_triggers('update'))
    conn.execute(create_triggers('delete'))
    print("TRIGGERS CREATED IN Central NODE")

OperationalError: (pymysql.err.OperationalError) (1363, 'There is no NEW row in on DELETE trigger')
[SQL:
            CREATE TRIGGER delete_data AFTER DELETE ON appointments
            FOR EACH ROW
            BEGIN
                DECLARE node_get VARCHAR(255);
                SET node_get = (SELECT CASE
                    WHEN NEW.RegionName = 'Western Visayas (VI)'
                    OR NEW.RegionName = 'Central Visayas (VII)'
                    OR NEW.RegionName = 'Eastern Visayas (VIII)'
                    OR NEW.RegionName = 'Northern Mindanao (X)'
                    OR NEW.RegionName = 'SOCCSKSARGEN (XII)'
                    THEN 'node_3'
                    ELSE 'node_2'
                END);
                INSERT INTO logs (`action_time`, `action`, `node`, `apptid`, `status`, `TimeQueued`, `QueueDate`, `StartTime`, `EndTime`, `type`, `Virtual`, `hospitalname`, `IsHospital`, `City`, `Province`, `RegionName`, `mainspecialty`, `patientage`, `patientgender`)
                VALUES(NOW(), 'DELETE', node_get, OLD.apptid, OLD.status, OLD.TimeQueued, OLD.QueueDate,
        OLD.StartTime, OLD.EndTime, OLD.type, OLD.Virtual, OLD.hospitalname, OLD.IsHospital, OLD.City,
        OLD.Province, OLD.RegionName, OLD.mainspecialty, OLD.patientage, OLD.patientgender);
            END;
        ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

### Luzon Node

In [7]:
with engine1.connect() as conn:
    conn.execute(drop_triggers('node_2')[0])
    conn.execute(drop_triggers('node_2')[1])
    conn.execute(drop_triggers('node_2')[2])
    
    conn.execute(create_triggers()[0])
    conn.execute(create_triggers()[1])
    conn.execute(create_triggers()[2])
    print("TRIGGERS CREATED IN Luzon NODE")

TRIGGERS CREATED IN Luzon NODE

### VisMin Node

In [8]:
with engine2.connect() as conn:
    conn.execute(drop_triggers('node_3')[0])
    conn.execute(drop_triggers('node_3')[1])
    conn.execute(drop_triggers('node_3')[2])

    conn.execute(create_triggers()[0])
    conn.execute(create_triggers()[1])
    conn.execute(create_triggers()[2])
    print("TRIGGERS CREATED IN VisMin NODE")

TRIGGERS CREATED IN VisMin NODE